
# Ignore node_modules folder

# assets/frontend/all-listings-geojson/listings-id-48927.json
# assets/frontend/all-listings-geojson/listings-id-29717.json
# assets/frontend/all-listings-geojson/listings-id-5754.json
# assets/frontend/all-listings-geojson/listings-id-29718.json
# application/language/english.json
# application/language/english.json

application/language/english.json